.card-img{
    position: relative;
    overflow: hidden;
}
.card-img img{
    transition: all 0.3s linear;
}
.card-img img:hover{
    transform: scale(1.05);
}
.card-img span{
    position: absolute;
    left: 20px;
    top: 20px;
    background-color: var(--main-color);
    color: var(--white);
    padding: 5px 15px;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}
.blog-body{
    padding: 15px 5px 5px 5px;
}
.blog-body .blog-details a{
    color: rgba(109, 108, 128, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
}
.blog-body .blog-details a i{
    font-size: 20px;
    color: var(--main-color);
}
.blog-body h5{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
}