.footer__area{
    background: #06042e;
}
.footer__top{
    padding: 80px 0 50px;
}
.footer__widget .logo{
    margin-bottom: 35px;
}
.footer__content p{
    margin-bottom: 12px;
    color: #b2bbcc;
    width: 100%;
}
.footer__content ul{
    margin: 0;
    padding: 0;
}
.list-wrap{
    margin: 0;
    padding: 0;
}
.list-wrap li{
    list-style: none;
}
.footer__content ul li{
    color: #b2bbcc;
    font-weight: 500;
    margin-bottom: 7px;
}
.footer__widget-title{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.3;
}
.footer__widget-title::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #5751E1;
}
.footer__link .list-wrap li{
    margin-bottom: 10px;
}
.footer__link .list-wrap li a{
    font-size: 14px;
    font-weight: 500;
    color: #b2bbcc;
    position: relative;
    font-family: 'Inter', sans-serif;
}
.footer__link .list-wrap li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #b2bbcc;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.74, 0.72, 0.27, 0.24);
}
.footer__contact-content p{
    margin-bottom: 10px;
    color: #b2bbcc;
}
.footer__social{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}
.footer__social li a{
    color: #b2bbcc;
}
.app-download{
    display: flex;
    align-items: center;
    gap: 8px;
}
.footer__bottom{
    background: #1c1a4a;
    padding: 25px 0;
    ;
}
.copy-right-text p{
    margin-bottom: 0;
    color: #8c9ab4;
}
.footer__bottom-menu .list-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
}
.footer__bottom-menu .list-wrap li a{
    color: #8c9ab4;
    position: relative;
}
.footer__bottom-menu .list-wrap li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(0.74, 0.72, 0.27, 0.24);
}
.footer__bottom-menu .list-wrap li a::after{
    content: "";
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 12px;
    background: #8C9AB4;
}
.footer__bottom-menu .list-wrap li:last-child a::after{
    content: none;
}